body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.container{
 width: 100%;
 /* height: 100vh; */
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: aquamarine;
 flex-direction: column;
}

.title{
 width: 100%;
 margin-top: 100px;
 display: flex;
 justify-content: center;
}

h1{
    font-size: 40px;
    font-family: sans-serif;
    border-bottom: 3px solid;
}

.image-container{
   width: auto;
   height: auto;
   margin-top: 100px;
   margin-left: 100px;

}

.generated-img{
    margin-bottom: 40px;
}

.refresh-div{
    width: 150px;
    margin-left: 380px;
    margin-top: -330px;
}


.input{
 display: flex;
 margin-top: 230px;
 margin-right: 100px;
}

label{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}

input[type="email"]{
    padding-bottom: 2px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 4px;
    width: 140px;
    padding-left: 15px;
}

#confirm, .refresh-btn, #check{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}


.error-message{
 color: red;
 border: 2px solid black;
 padding: 10px;
 background-color: white;
 text-align: center;
 margin-top: -50px;
 margin-left: -230px;
}

/* .tooltip-point{
    width: 38px;
    min-height: 30px;
    position: fixed;
    transform: rotate(180deg);
    background-color: white;
    bottom: 123%;
    right: 18%;
    z-index: 2;
    overflow: hidden;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
} */

.error-message-container {
    display: none;
}

/* .move-right{
    position: fixed;
    right: -4%;
} */

.success{
    color: green;
    border: 2px solid green;
    padding: 10px;
    background-color: white;
    margin-top: -50px;
    margin-left: -313px;
}

/* .top-tooltip{
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    z-index: 2;
    width: 38px;
    min-height: 30px;
    position: fixed;
    background-color: white;
    top: 110%;
    left: 55%;
} */

.success-message ,.success-message2-container{
    display: none;
}

.show-message{
    display: block !important;
}



.generated-img img{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 10px 10px 8px #00000075;
}

.refresh{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}


.saved-img{
 display: flex;
 width: auto;
 margin-top: 100px;
 align-items: center;
}

.saved-img img{
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 10px 10px 8px #00000075;
    margin-left: 10px;
    margin-top: 10px;
}

.email-name{
    margin-left: 30px;
    font-size: 25px;
    padding-bottom: 30px;

}


.success-message2{
    color: green;
    bottom: 140%;
    position: fixed;
    right: 12%;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    z-index: 1;
    text-align: center;

}

.image-cont{
    width: auto;
    height: auto;
}